:root {
    --mainColor:#46344E;
    --secondaryColor:#382a3f;
    
   --mainText:#fff;
   --secondaryText:#eeeeee;

   --borderColor:#1d1520;

   --shadow: #2b202f;

   --buttonColor: #8534a3;

}

.my_work {
    background-color: var( --secondaryColor);
}
